.home{
    margin: 0 6.72rem;
    position: relative;
}

.container{
    display: grid;
    padding-top: 3.84rem;
    background-color: white;
}

.img__con{
    position: relative;
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shareImg__con{
    position: absolute;
    top: 44px;
    right: 190px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

svg{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

circle {
    fill: transparent;
    stroke: var(--gray-300);
    stroke-width: 3;
    position: relative;
    transition: all ease 200ms;
  }


.fill {
    fill: var(--gray-50)
  }

  .dashed {
    stroke-dasharray: 6, 7.5;
  }

  .share__img{
    height: 100%;
    width: 100%;
  }

main{
    margin-top: 56px;
    display: grid;
    row-gap: 1.44rem;
}

#slack {
    display: none;
}

a{
    text-decoration: none;
    color: black;
    transition: all ease-out 300ms;
}

a:hover{
    background-color: var(--gray-300);
}

.link__con{
    width: 100%;
    padding: 24px 0;
    border-radius: 8px;
    background-color: var(--gray-200);
}


.name__text{
    text-align: center;
    font-size: large;
    font-weight: 600;
 
}

.twitter{
    font-size: 48px / 3rem ;
    line-height: 60px / 3.75rem ;
    align-tracks:  -2%;
    font-weight: 800;
}

.icons{
    display: flex;
    width: 100%;
    padding: 24px;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
}

footer{
    margin: 48px 80px;
}

.footer__con {
    border-top: 1px solid var(--gray-200);
    height: 64px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__text {
    font-weight: normal;
    font-size: medium;
    color: var(--gray-500)
}


.tooltip {
    position: absolute;
    transition: all ease-in 200ms;
    left: -95px;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.1);
    background-color: transparent;
}

.tooltip__text {
    background-color: var(--gray-900);
    color:#ffffff;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    width: max-content;
}

.angle {
    transform: rotate(45deg);
    background-color: var(--gray-900);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: -1;
    
}

.show {
    /* display: unset; */
    z-index: 1;
    transition: all ease-in 200ms;
}

.hide { 
    /* display: none; */
    z-index: -1;
    transition: all ease-in 200ms;
}

#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

#twitter {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.slack{
    height: max-content;
    width: max-content;
}

.github:hover {
    background: none;
}

.camera__con {
   position: absolute;
   border-radius: 50%;
   height: 88px;
   width: 88px;
   background-color: #344054BF;
}

.cam {
    top: 58px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contact_container{
    margin: 64px 80px 96px 80px;
    display: flex;
    justify-content: center;
}

.content{
    max-width:750px;
    display: flex;
    width: 100%;
    margin: 92px 0px;
    flex-direction: column;
}

.contact_content_text{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.contact_helper_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0px 48px;
    color: var(--gray-600);
}


.contact_input_container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 24px;
    width: 100%;
}

.input_con{
    display: grid;
    margin-bottom: 24px;
}

.small_input{
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-700);
}

#first_name, #last_name, #email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
border: 1px solid var(--gray-300);
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
outline: none;
transition: all ease 100ms;
}

#first_name:focus, #last_name:focus, #email:focus {
    border: 1px solid var(--primary-300);
}

#message:focus {
    border: 1px solid var(--primary-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.disabled {
    background-color: var(--primary-200) !important;
    border: 1px solid var(--primary-200) !important;
}

#message{
    max-width: 720px;
    height: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    border: 1px solid var(--gray-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.error{
    border: 1px solid #F89687 !important;
}

.error:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC !important;
}

#first_name ::placeholder, #last_name::placeholder, #email::placeholder, #message::placeholder {
    color: var(--gray-500);
    font-family: 'Inter', sans-serif;
}

.contact_msg{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    margin-top: 6px;
    
    color: #F83F23;
}

#btn__submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 100%;
    color: #ffffff;
    margin-top: 32px;
    /* Primary/600 */
    background: var(--primary-600);
    /* Primary/600 */
    border: 1px solid var(--primary-600);
    background: var(--primary-600);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 200ms;
}

#btn__submit:hover {
    background-color: var(--primary-700);    
    border: 1px solid var(--primary-700);
}

.small_input.check{
    cursor: pointer;
    font-weight: 400;
font-size: 16px;

color: var(--gray-600)
}

.css-checkbox { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0;
    transition: all ease 200ms; 
}
    

    .css-checkbox + label {
         position: relative; 
         font-size: 14px;
          cursor: pointer; 
         display: inline-flex; 
         align-items: center; 
         height: 20px; 
         color: rgb(0, 0, 0); 
         transition: all ease 200ms;
        }

        #text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        
        .css-checkbox + label::before { 
            
            content: " "; 
            display: inline-block; 
            vertical-align: middle; 
            box-sizing: border-box;
            width: 20px; 
            height: 20px; 
            background-color: white; 
            border-width: 0px; 
            border-style: solid; 
            border-radius: 6px;
            border: 1px solid #D0D5DD !important; 
            box-shadow: none;
            margin-right: 12px; 
        }
        
        .css-checkbox:checked + label::before{
            border: 1.5px solid var(--primary-600) !important; 

        }
        .css-checkbox:hover + label::before{
            border: 1.5px solid var(--primary-600) !important; 
            box-shadow: 0px 0px 0px 4px var(--primary-300);
            transition: all ease 200ms;
        }
        
        .css-checkbox:checked + label::after { 
            content: " "; 
            background-image: url("./assets/tick.svg"); 
            background-repeat: no-repeat;
             background-size: 14.33px 9.42px; 
             background-position: center center; 
             position: absolute; 
             display: flex; 
             justify-content: center; 
             align-items: center; 
             margin-left: 0px; 
             left: 1px; 
             top: 0px; 
             text-align: center; 
             background-color: transparent; 
             font-size: 10px; 
             height: 20px; 
             width: 20px; 
             transition: all ease 200ms;
            }

@media screen and (max-width: 985px) {
    footer{
        margin: 48px 16px;
    }

    
    .footer__con{
        flex-direction: column;
        padding: 38px 0;
        gap: 16.21px;
        align-items: flex-start;
    }

    .contact_container{
        margin: 64px 16px 96px 16px;
    }

    .contact_input_container{
        gap: 0;
        display: flex;
        flex-direction: column;
    }
    
    .contact_helper_text{
        font-size: 18px;
    }

    .contact_content_text{
        font-size: 36px;
        line-height: 44px;
    }

    .icons {
        display: none;
    }

    main {
        margin-bottom: 48px;
    }

    #twitter {
        font-size: 18px;
        line-height: 28px;
    }

    .home{
        margin: 0 16px;
    }

    .shareImg__con{ 
        right: 0;
    }

    
}