.app{
    margin: 0 6.72rem;
    position: relative;
}

.container{
    display: grid;
    padding-top: 3.84rem;
    background-color: white;
}

.img__con{
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shareImg__con{
    position: absolute;
    top: 44px;
    right: 190px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

svg{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

circle {
    fill: transparent;
    stroke: var(--gray-300);
    stroke-width: 3;
    position: relative;
    transition: all ease 200ms;
  }


.fill {
    fill: var(--gray-50)
  }

  .dashed {
    stroke-dasharray: 6, 7.5;
  }

  .share__img{
    height: 100%;
    width: 100%;
  }

main{
    margin-top: 56px;
    display: grid;
    row-gap: 1.44rem;
}

#slack {
    display: none;
}

a{
    text-decoration: none;
    color: black;
    transition: all ease-out 300ms;
}

a:hover{
    background-color: var(--gray-300);
}

.link__con{
    width: 100%;
    padding: 24px 0;
    border-radius: 8px;
    background-color: var(--gray-200);
}


.name__text{
    text-align: center;
    font-size: large;
    font-weight: 600;
 
}

.twitter{
    font-size: 48px / 3rem ;
    line-height: 60px / 3.75rem ;
    align-tracks:  -2%;
    font-weight: 800;
}

.icons{
    display: flex;
    width: 100%;
    padding: 24px;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
}

footer{
    margin: 48px 80px;
}

.footer__con {
    border-top: 1px solid var(--gray-200);
    height: 64px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__text {
    font-weight: normal;
    font-size: medium;
    color: var(--gray-500)
}


.tooltip {
    position: absolute;
    transition: all ease-in 200ms;
    left: -95px;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.1);
    background-color: transparent;
}

.tooltip__text {
    background-color: var(--gray-900);
    color:#ffffff;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    width: max-content;
}


.angle {
    transform: rotate(45deg);
    background-color: var(--gray-900);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: -1;
    
}

.show {
    /* display: unset; */
    z-index: 1;
    transition: all ease-in 200ms;
}

.hide { 
    /* display: none; */
    z-index: -1;
    transition: all ease-in 200ms;
}

#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

#twitter {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.slack{
    height: max-content;
    width: max-content;
}

.github:hover {
    background: none;
}

@media screen and (max-width: 985px) {
    footer{
        display: none;
    }

    .icons {
        display: none;
    }

    main {
        margin-bottom: 48px;
    }

    #twitter {
        font-size: 18px;
        line-height: 28px;
    }

    .app{
        margin: 0 16px;
    }

    .shareImg__con{ 
        right: 0;
    }
}